.account {
  height: 400px;
  background-color: #00144f;
  background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account h2 {
  bottom: 30px;
}