nav {
  height: 100px;
  background-color: #00144f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
}

nav #logo {
  font-family: 'Bungee', cursive, sans-serif;
  display: flex;
  align-items: top;
}

nav button {
  background: transparent;
  color: red;
  padding: 5px 75px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

nav button:hover {
  cursor: pointer;
}

@media (max-width: 1023px) {
  nav {
    background-color: #00144f;
    background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png");
  }
}

@media (max-width: 480px) {
  nav {
    font-size: 0.8em;
  }
}
