nav {
  height: 100px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
}

nav #logo {
  font-family: 'Bungee', cursive, sans-serif;
  display: flex;
  align-items: center;
}

nav button {
  background: transparent;
  color: red;
  padding: 5px 75px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}