nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

nav #logo {
  font-family: 'Bungee', cursive, sans-serif;
  display: flex;
  align-items: center;
}

nav button {
  background: transparent;
  padding: 5px 75px;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}