.tweet {
  border: 3px solid #494b54;
  border-radius: 20px;
  padding: 1em;
  margin: 1em 0em;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: .3em;
}

.alias {
  visibility: hidden;
}

.tweet:hover .alias {
  visibility: visible;
  color: rgb(106, 106, 161);
  position: relative;
  right: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-left: 0.3em;
  border-bottom: 3px solid #494b54;
  overflow-wrap: break-word;
}

.tweet footer {
  padding: .5em 0em;
  margin: 0em .3em;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  float: right;
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(32, 57, 170);
}

.tweet:hover {
  box-shadow: 7px 7px rgb(106, 106, 161);
}